@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        background-color: #1a1b1e;
    }

    img {
        pointer-events: none;
    }

    ::-webkit-scrollbar{
        width: 10px;
    }

    ::-webkit-scrollbar-track-piece{
        background-color: #1d1f24;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #1d1f24;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: #1d1f24;
    }
}