@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('/font/Inter-VariableFont.ttf') format("truetype-variations");
        font-weight: 1 999;
    }

    @font-face {
        font-family: 'Minecraft';
        src: url('/font/minecraft.woff2') format('woff2');
    }

    .button {
        @apply font-medium border-[1.5px] rounded-xl py-2.5 px-4 border-white/90 text-white/90 bg-white/10 transition-colors hover:bg-white hover:text-[#0B0B0C];
    }

    .search {
        @apply flex border-[1.5px] rounded-xl border-white/20 text-white/90 relative w-full bg-transparent -mt-0.5 placeholder:text-white/60 focus:outline-none py-2.5 pr-4 pl-11;
        background-image: url("/icon/search.png");
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-x: 16px;
        background-position-y: 12.5px;
    }

    .scroll {
        @apply py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-200 text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200;
    }

    .scroll::-webkit-scrollbar {
        width: 10px;
    }

    .scroll::-webkit-scrollbar-track-piece {
        background-color: #3C414B;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #7c7e85;
        border-radius: 5px;
    }

    .scroll::-webkit-scrollbar-thumb:hover {
        background-color: #7c7e85;
    }

    .scroll-option {
        @apply bg-[#3C414B] text-gray-400 hover:text-white hover:bg-[#626875];
    }

    body {
        background-color: #0B0B0C;
    }

    img {
        pointer-events: none;
    }

    ::-webkit-scrollbar{
        width: 8px !important;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: #0B0B0C !important;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #2f2f30 !important;
        border-radius: 5px !important;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: #2f2f30 !important;
    }
}
