@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Minecraft';
        src: url('/font/minecraft.woff2') format('woff2');
    }

    button {
        @apply text-xl font-medium border-2 rounded-xl py-2 px-4 border-[#626875] text-[#626875] transition duration-100 hover:bg-[#3C414B] hover:border-[#3C414B] hover:text-[#1A1B1E];
    }

    .search {
        @apply flex text-xl border-[2px] rounded-3xl border-[#626875] text-[#626875] items-center px-6 py-2;
    }

    .search input {
        @apply bg-transparent -mt-1 placeholder-[#626875] focus:outline-none;
    }

    .search svg {
        @apply w-5 h-5 fill-[#626875];
    }

    .scroll {
        @apply py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-200 text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200;
    }

    .scroll::-webkit-scrollbar {
        width: 10px;
    }

    .scroll::-webkit-scrollbar-track-piece {
        background-color: #3C414B;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #7c7e85;
        border-radius: 5px;
    }

    .scroll::-webkit-scrollbar-thumb:hover {
        background-color: #7c7e85;
    }

    .scroll-option {
        @apply bg-[#3C414B] text-gray-400 hover:text-white hover:bg-[#626875];
    }

    body {
        background-color: #1a1b1e;
    }

    img {
        pointer-events: none;
    }

    ::-webkit-scrollbar{
        width: 10px;
    }

    ::-webkit-scrollbar-track-piece{
        background-color: #1a1b1e;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #7c7e85;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: #7c7e85;
    }
}